<!-- Wrapper-->
<div id="wrapper">

    <!-- Left navigation bar -->
    <navigation></navigation>

    <!-- Main page wrapper -->
    <div id="page-wrapper" class="gray-bg">

        <!-- Top navigation -->
        <topnavbar></topnavbar>

        <!-- Main view/routes wrapper-->
        <div id="content-wrapper" class="wrapper wrapper-content clearfix">
            <router-outlet></router-outlet>
        </div>

        <!-- Footer 
        <footer></footer> -->

    </div>
    <!-- End page wrapper-->

</div>
<!-- End wrapper-->
<notifier-container></notifier-container>